/* set default colors here */
:root {
  --primary-50: #fef6f1;
  --secondary-50: #fef6f1;
}

/*  */
* {
  font-family: Poppins, sans-serif;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*  */
