:root {
  --primary-color: #007bff;
  --primary-50: #fef6f1;
  --primary-100: #fee2d0;
  --primary-200: #ffb88f;
  --primary-300: #fba16a;
  --primary-400: #f68d4b;
  --primary-500: #f1701f;
  --primary-600: #db661c;
  --primary-700: #ab5016;
  --primary-800: #853e11;
  --primary-900: #652f0d;

  --secondary-50: #eaf5ff;
  --secondary-100: #b2d5f2;
  --secondary-200: #8dc0eb;
  --secondary-300: #59a3e2;
  --secondary-400: #3991dd;
  --secondary-500: #0776d4;
  --secondary-600: #066bc1;
  --secondary-700: #055497;
  --secondary-800: #044175;
  --secondary-900: #033259;

  --grey-40: #9897a8;
  --grey-50: #eaebec;
  --grey-100: #bec0c5;
  --grey-200: #9ea2a9;
  --grey-300: #727782;
  --grey-400: #364359;
  --grey-500: #2c3444;
  --grey-600: #282f3e;
  --grey-700: #182337;
  --grey-800: #181d25;
  --grey-900: #12161d;

  --success-50: #edf8f4;
  --success-100: #c6ebdc;
  --success-200: #aae1cb;
  --success-300: #aae1cb;
  --success-400: #6ccaa5;
  --success-500: #47bd8f;
  --success-600: #41ac82;
  --success-700: #328666;
  --success-800: #27684f;
  --success-900: #1e4f3c;

  --warning-50: #fff7eb;
  --warning-100: #ffe5bf;
  --warning-200: #ffd9a1;
  --warning-300: #ffc776;
  --warning-400: #ffbd5b;
  --warning-500: #ffac32;
  --warning-600: #e89d2e;
  --warning-700: #b57a24;
  --warning-800: #8c5f1c;
  --warning-900: #6b4815;

  --error-50: #ffefef;
  --error-100: #ffcccd;
  --error-200: #ffb4b4;
  --error-300: #ff9292;
  --error-400: #ff7d7d;
  --error-500: #ff5c5d;
  --error-600: #e85455;
  --error-700: #b54142;
  --error-800: #8c3333;
  --error-900: #6b2727;

  --input-bg: #f5f6f8;

  --ui-bg: #fafafa;
}

/*  */
* {
  font-family: Poppins, sans-serif;
}

input {
  @apply outline-0 border-0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* status */
.status-approve,
.status-completed,
.status-success {
  color: var(--success-500);
  background-color: var(--success-50);
}
.status-pending,
.status-warning {
  color: var(--warning-500);
  background-color: var(--warning-50);
}

.status-failed,
.status-error,
.status-rejected {
  color: var(--error-500);
  background-color: var(--error-50);
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/*  */
/* Element UI input */
.el-step.is-horizontal .el-step__line {
  height: 0px !important;
  top: 1rem !important;
  padding: 0 40px !important;
}
.el-step__line {
  border: 0.0001px dotted var(--grey-100) !important;
  background: transparent !important;
}
.el-step__icon.is-text {
  height: 2rem;
  width: 2rem;
  background: var(--grey-100);
  color: white;
  border: none !important;
}
.el-step__head.is-pending .el-step__icon.is-text {
  background: var(--primary-500);
}

/* .el-radio.is-bordered.is-checked {  
    border: 1px solid var(--primary-500) !important;  
} */
.el-step__line-inner {
  display: none !important;
}

.el-input--large.el-input--suffix {
  background: transparent;
}

.el-input--large.el-input--suffix.is-focus > .el-input__wrapper.is-focus,
.el-input--large.el-input--suffix > .el-input__wrapper {
  padding: 1px 15px;
  background: transparent;
  border: 0;
  outline: none;
  box-shadow: none !important;
}
.el-input-group--prepend .el-input-group__prepend .el-select .el-input .el-input__wrapper {
  height: 3rem;
}
.el-input__wrapper,
.el-input__wrapper.is-focus {
  background-color: transparent !important;
}
.el-select {
  --el-select-input-focus-border-color: transparent !important;
  --el-select-border-color-hover: transparent !important;
}
.el-input {
  --el-input-text-color: var(--grey-500);
  --el-input-border-color: transparent !important;
  --el-input-bg-color: transparent !important;
  --el-input-focus-border-color: var(--grey-50) !important;
  --el-input-hover-border-color: var(--grey-50) !important;
  --el-input-placeholder-color: var(--grey-100) !important;
}

/* tooltips */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.expand-fade-leave-active {
  margin-left: 20px;
  opacity: 0;
}

.el-upload-list.el-upload-list--text { 
  display: none !important;
}